[url:https://space.bilibili.com/13574291/video/,https://space.bilibili.com/3120392/video/,https://space.bilibili.com/3494357246150781/video/,https://space.bilibili.com/3546786377501413/video/,https://space.bilibili.com/11463305/video/,https://space.bilibili.com/212955/video/,https://space.bilibili.com/525393141/video/,https://space.bilibili.com/3546646726052385/video/,https://space.bilibili.com/1090115346/video/]
#阿抽崽-13574291
#啵塞克儿-3120392
#狗伍伍-3494357246150781
#吉伊大人V-3546786377501413
#兰幼金-11463305
#兔子烧-212955
#小神奈殿下-525393141
#小羊Mog-3546646726052385
#杂鱼川川-1090115346
#
#
#
#
#
start.page = 1
stop.condition = page:10000
#stop.condition = _:downloaded
# 表示 只下载没有下载过的
download.condition = _!downloaded
# 表示无条件下载，根据情况注释或去掉注释 
#download.condition = _:_
# 表示不包含边界（停止时的那个BV）
stop.bv.bounds = exclude
# 表示在每下完一个收藏夹，就弹出一次提示
stop.alert = true