[url:https://space.bilibili.com/3546783217093284/video/]
start.page = 1
stop.condition = page:10000
#stop.condition = _:downloaded
# 表示 只下载没有下载过的
download.condition = _!downloaded
# 表示无条件下载，根据情况注释或去掉注释 
#download.condition = _:_
# 表示不包含边界（停止时的那个BV）
stop.bv.bounds = exclude
# 表示在每下完一个收藏夹，就弹出一次提示
stop.alert = true